# Redis server ip, default: 127.0.0.1
redis_server_ip=127.0.0.1

# Redis server port, default: 6379
redis_server_port=6379

# Redis server password, default: <EMPTY>
redis_server_password=

# Redis server pool size, default: 3
redis_server_pool_size=3


# Mysql server ip, default: 127.0.0.1
mysql_server_ip=127.0.0.1

# Mysql server port, default: 3306
mysql_server_port=3306

# Mysql server db name, default: idcenter
mysql_server_db_name=idcenter

# Mysql server user, default: root
mysql_server_user=root

# Mysql server password, default: <EMPTY>
mysql_server_password=haolin

# Mysql server pool size, default: 3
mysql_server_pool_size=3


# Id start number, default: 1
id_start=1

# Id step number, default: 100
id_step=100
